FirmwareNew/.settings/language.settings.xml
FirmwareNew/Debug/
Firmware/.settings/language.settings.xml
Firmware/Debug/
Hardware/
Маленький Принц/
_интересные двигатели/
! заказать/
Алгоритм.txt
таймеры.txt
3D/
Себестоимость MusicBox2 - 19.01.2017.xls
Себестоимость MusicBox2_Lite - 19.01.2017.xls
Медальон СейлорМун/
Подключение драйвера.txt
_заказать/
Себестоимость MusicBox2_Lite - 29.03.2017.xls
Время сборки (07.2017).txt
Sound - VS1011.rar
Photos/ларец 9x9х6,5см, v2.0.JPG
Photos/
